section.form{
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
}

table{
  width: 100%;
  border-collapse: collapse;
  thead > tr {
    border-bottom: 1px solid rgb(100,100,100);
  }
  thead td{
    font-size: 0.75rem;
    text-transform: uppercase;
    padding-bottom: 0.5em;
  }
  tbody td{
    padding-top: 0.5em;
  }
}

div.field-group{
  display: block;
  margin: 0.5rem 0 2rem 0;

  > .label{
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    width: auto;
    font-size: 0.75rem;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(100,100,100);
  }
}

label.pill{
  display: inline-block;
  padding: 0.5em 0.75em;
  margin: 0 0.5em 0.5em 0;
  border: 1px solid rgb(100,100,100);
  height: auto;
}