.page-header{
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(100,100,100);
  h2{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 300;
  }
}
