.btn.toggle-cohort{
  color: white;
  padding: 0.25em 0.5em;
}

.field-group.other-cohorts{
  .btn.toggle-cohort{
    background-color: green;
    &:after{
      content: "+";
    }
  }
}

.field-group.cohorts{
  .btn.toggle-cohort{
    background-color: red;
    &:after{
      content: "X"
    }
  }
}