<!DOCTYPE html>
<html>
<head>
  <title>TestWrangler</title>
  <%= stylesheet_link_tag    "test_wrangler/application", media: "all" %>
  <%= javascript_include_tag "test_wrangler/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
